@import "./partials/variables";
@import "./partials/mixins";

@media screen and (max-width: $mq-large) {
  .nav {
    display: none;
    .nav-links {
      height: auto;
      margin-left: $header-margin;
      .nav-link {
        height: 50px;
        min-width: 20%;
      }
    }
  }
}
@media screen and (min-width: $mq-large) {
  .nav {
    height: $nav-height;
    border-bottom: 1px solid $border-color;
    .nav-links {
      display: flex;
      height: 100%;
      .nav-link {
        height: 100%;
        .nav-link__link {
          text-align: center;
        }
      }
      .nav-link:hover {
        border-bottom: 1px solid darken($border-color, 25%);
      }
      .nav-link--logout {
        margin-left: auto;
      }
    }
  }
}
.nav-link {
  display: flex;
  list-style: none;
  width: 10%;
  margin: 0 $nav-margin;
  .nav-link__link {
    text-decoration: none;
    color: #a0a5aC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .nav-link__link:hover {
    @include link-hover($nav-link-color);
  }
}

