@import "../partials/variables";

@media screen and (max-width: $mq-medium) {
  .admin-control__buttons {
    .control-button__other-buttons {
      .control-button {
        display: flex;
        flex-direction: column;
      }
    }
    .control-add {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: $mq-medium) {
  .admin-control__buttons {
    display: flex;
    justify-content: flex-end;
    .control-button__other-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .control-button {
        display: flex;
        justify-content: flex-end;
        margin-left: 20px;
      }
    }
    .control-add {
      width: auto;
      flex-grow: 2;
      flex-basis: 25%;
    }
  }
}

.admin {
  background-color: $panel-color;
  min-height: 80vh;
  padding-bottom: 50px;
  .admin-control {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    .admin-edit__icon {
      cursor: pointer;
    }
    .admin-edit__icon:hover {
      color: lighten(black, 40%);
    }
    .admin-edit--disable {
      display: none;
    }
  }
  .no-permission
  {
    width: 100%;
    text-align: center;
    padding-top: 200px;
    font-size: 1.2rem;
    color: $main-color;
    font-weight: bold;
  }
}