@import "../partials/variables";
@import "../partials/mixins";

.comment-add {
  .comment-add__title {
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
  }
  .comment-add__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  .comment-add__counter {
    margin-top: 2px;
    margin-right: auto;
    .comment-add__length {
      opacity: 0.25;
    }
    .comment-add__counter--max {
      color: red;
      opacity: 1;
    }
  }
  .comment-add__button {
    margin: 0 5px;
    color: $main-color;
    background-color: white;
    border: none;
    &:hover {
      cursor: pointer;
      @include link-hover($main-color);
    }
  }
}