.publication-title {
  display: flex;
  justify-content: space-between;
  .publication-title__header {
    font-size: 2.5rem;
    font-family: "Comic Sans MS", serif;
  }
}

.publication-data {
  display: flex;
  justify-content: space-between;
  opacity: 0.3;
  margin-bottom: 15px;
}

.publication-content {
  div {
    text-align: justify;
  }
  blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
}
