@import "../partials/variables";
@import "../partials/mixins";

@media screen and (max-width: $mq-medium) {
  .home {
    flex-direction: column;
    align-content: stretch;
  }
}

@media screen and (min-width: $mq-medium) {
  .home {
    flex-direction: row;
    align-content: flex-start; //TODO do zmiany jak się doda więcej kafelków
  }
}

.home {
  background-color: $panel-color;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 30px 80px 30px;
  justify-content: space-between;
}