@import "../partials/variables";

.password-show {
  margin-left: 0;
  border: 1px solid $border-color;
  border-radius: 2px;
  background-color: white;
  padding: 2px 4px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  &:focus {
    outline: 1px solid $main-color;
  }
}

.password-show--active {
  color: $main-color;
}